{sub_dirs, ["lib/chat", "rel"]}.

{erl_opts, [fail_on_warning, debug_info]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
   %% {mochiweb, ".*",{git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}}
   {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.0"}}}
   ]}.
   
