{sub_dirs, ["lib/chat", "lib/http", "rel"]}.

{erl_opts, [fail_on_warning, debug_info]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
   {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
   {bullet, ".*", {git, "git://github.com/extend/bullet.git", {branch, "master"}}},
   {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.7.0"}}},
   {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}}
   ]}.
   
