{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "talkybee", "1",
        [
         kernel,
         stdlib,
         sasl,
	 crypto,
	 ranch,
	 cowboy,
	 chat,
	 http
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "talkybee"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, http, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../lib/http"}]},
       {app, chat, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../lib/chat"}]},
       {app, ranch, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/ranch"}]},
       {app, bullet, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/bullet"}]},
       {app, cowboy, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/cowboy"}]},
       {app, jiffy, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/jiffy"}]},
       {app, mimetypes, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/mimetypes"}]}

       ]}.

{target_dir, "talkybee"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/talkybee", "bin/talkybee"},
           {copy, "files/talkybee.cmd", "bin/talkybee.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
